.el-form-item--mini.el-form-item, .el-form-item--small.el-form-item{
  margin-bottom: 10px;
}
// 删除按钮
.delete-btn{
  color: #feaa30;
}

.product-name{
  font-size: 12px;
  color: #659dfc;
}
.el-select .el-input .el-select__caret{
color: #679cfe;
font-weight: bold;
}
.el-select{
  .el-input__inner{
    padding: 0 7px 0 7px;
  }
  .el-input__icon{
    width: 15px;
  }
}